; Copyright (c) 2020 Intel Corporation
;
; Licensed under the Apache License, Version 2.0 (the "License");
; you may not use this file except in compliance with the License.
; You may obtain a copy of the License at
;
;      http://www.apache.org/licenses/LICENSE-2.0
;
; Unless required by applicable law or agreed to in writing, software
; distributed under the License is distributed on an "AS IS" BASIS,
; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
; See the License for the specific language governing permissions and
; limitations under the License.

[0]
; please refer to INSTALL.MD for complete description of these parameters
zmq_protocol = tcp

; CP<>DP CUPS communication ip:port::
; Message|ZMQ(PUSH/PULL)::
;				table creation, table entries, session establishment, modification, deletion, ...
; CFLAG::UDEFINED DSDN_ODL_BUILD CFLAG @ng-core_cfg.mk
; Ex. CP: zmq_cp_ip = 'zmq streamer ip(streamer listens on this ip:zmq_cp_pull_port, ip:zmq_cp_push_port),
;         CP connects to this streamer IP for push/pull requests.
;     DP: zmq_dp_ip = 'zmq streamer ip(streamer listens on this ip:zmq_dp_pull_port, ip:zmq_dp_push_port),
;         DP connects to this streamer IP for push/pull requests.
zmq_cp_ip=127.0.0.1
zmq_cp_pull_port = 5556
zmq_cp_push_port = 5559

zmq_dp_ip=127.0.0.1
zmq_dp_pull_port=5560
zmq_dp_push_port=5557

; CP<>DP CUPS SDN FPC communication FPC PROJECT::ip:port::
; Message|FPC|ZMQ(PUB/SUB)::
;				table creation, table entries, session establishment, modification, deletion, ...
; CFLAG::DEFINED DSDN_ODL_BUILD CFLAG @ng-core_cfg.mk
zmq_sub_ip = 192.168.126.60
zmq_sub_port = 5560
zmq_pub_ip = 192.168.126.80
zmq_pub_port = 5559

fpc_ip = 192.168.125.70
fpc_port = 8070
fpc_topology_port = 8181

cp_nb_ip = 192.168.125.60
cp_nb_port = 9997

; DP and DealerIn communication ip and port to be configured to communicate
; with with DealerIn. Values of mrenclave, mrsigner and isvsvn required to
; verify DealerIn. Also values of DP certificate and private key path are
; required for DP verification by DealerIn..
dealer_in_ip = 10.212.93.79
dealer_in_port = 443

dealer_in_mrenclave = 57b0a2109adaf533eaaa17a03e8c926b79ca56e581eda84ab196e07dc09d1c3d
dealer_in_mrsigner = 63ef969cbc34ee465f277cd3c27e9b3c681d743e455f899daced1b3cf85ceb8f
dealer_in_isvsvn = 0

dp_cert_path = ../certs/cert.pem
dp_pkey_path = ../certs/key.pem
